.rule-flex{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rule-box{
    width: 480px;
}

@media screen and (max-width: 480px){
    .rule-box{
        width: 100%;
    }
}

.rule-box h3{
    text-align: center;
}

#start-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}