.search-flex{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box{
    width: 480px;
}

@media screen and (max-width: 480px){
    .search-box{
        width: 100%;
    }
}

.incorrect-word{
    margin-bottom: 50px;
    text-align: center;
}

.incorrect-each{
    margin-bottom: 15px;
}

#search-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.CircularProgressbar{
    width: 100%;
}

.circle{
    margin-top: 50px;
    width: 100%;
    height: 150px;
}